body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(238, 252, 247);

}

h1 {
  color: #1C6463  ;
  padding: 10px 10px;
  font-size: 24px;
  background-color: #F7873D ;

}

.app {
  text-align: center;
}
.frame {
  margin: 10px;
  border: 1px solid #F6AF71;
  border-radius: 5px;
  text-align: center;
}

.frame__content img {
  width: 100%;
}

.frame__header {
  font-size: 20px;
  color: #F7873D;
  background-color: #1C6463;
  margin: 0;
  padding: 10px;
}